<mat-toolbar color="accent">
    <span>Company App   .</span>

    <div class="example-button-container">
        <button mat-fab color="blank" aria-label="Example icon button with a home icon">
          <mat-icon>home</mat-icon>
        </button>
      </div>

      <div>
        <a mat-button routerLink="/addemployee">Add employee</a>
        <a mat-button routerLink="/viewemployee">View Employee</a>
        <a mat-button routerLink="/searchemployee">Search Employee</a>
        <a mat-button routerLink="/addsecurity">Add Security</a>
        <a mat-button routerLink="/viewsecurity">view Security</a>
        <a mat-button routerLink="/searchsecurity">Search Security</a>
        <a mat-button routerLink="/leaverequests">Leave Requests</a>
        <a mat-button routerLink="/viewlogs">View Logs</a>
      </div>
      <div class="spacer"></div>
        <a mat-raised-button  color="primary" (click)="logout()">Logout</a>
      
      
  </mat-toolbar>